@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-variation-settings: 'wdth' 95;
    src:
        url('/fonts/lato-v24-latin_latin-ext-regular.woff2') format('woff2'),
        url('/fonts/lato-v24-latin_latin-ext-regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src:
        url('/fonts/oswald-v53-latin_latin-ext-regular.woff2') format('woff2'),
        url('/fonts/oswald-v53-latin_latin-ext-regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Arial', sans-serif;
    background-color: #35464d;
}
h3 {
    margin: 0 0 0.6em 0;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: #273438 0 0 3px;
    text-align: center;
}

@media (min-width: 719px) and (max-width: 980px) {
    h3 {
        font-size: 0.8rem;
    }
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.4em 0.2em;
    font-weight: normal;
}

.container {
    display: grid;
    grid-template-columns: 2fr 3fr; /* Two columns with equal width */
    grid-gap: 0; /* Gap between grid items */
    transition: 0.2s ease-in-out;
}

@media screen and (max-width: 1100px) {
    .container {
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (max-width: 980px) {
    .container {
        grid-template-columns: 2fr 5fr;
    }
}

@media screen and (max-width: 719px) {
    .container {
        grid-template-columns: 1fr;
    }
    #app {
        padding-right: 0.4em;
    }
}

​ .column {
    padding: 0.4em 0.4em 0.4em 0.2em;
}

@media screen and (max-width: 719px) {
    .column.class-wrapper {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-break {
    white-space: nowrap;
}

.thin {
    font-family: 'Oswald', sans-serif;
    font-optical-sizing: auto;
}

.card {
    border: 1px solid #000000;
    border-radius: 0.6rem;
    padding: 1em 0.8em;
    margin: 0.2em;
}

.split {
    display: grid;
    grid-template-columns: 3.5em auto;
}

.parameter-icon {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-workers {
    background-image: url('@/assets/icon-workers.svg');
}

.icon-income {
    background-image: url('@/assets/icon-income.svg');
}

.icon-business-m {
    background-image: url('@/assets/icon-business-m.svg');
}

.icon-business-c {
    background-image: url('@/assets/icon-business-c.svg');
}

.icon-business-s {
    background-image: url('@/assets/icon-business-s.svg');
}

.icon-share {
    background-image: url('@/assets/icon-share.svg');
}

.icon-formula {
    background-image: url('@/assets/icon-formula.svg');
}

.icon-reset {
    background-image: url('@/assets/icon-reset.svg');
}

.vardis {
    height: 0.75em;
}

.formula-separator {
    color: #aaa;
}

.label-group {
    position: relative;
    display: inline-block;
    height: 100%;
    margin: 0.2em 1em;
    padding: 0.2em 0.6em 0 0.6em;
    border: 1px solid #bbb;
    border-radius: 0.35rem;
}

.tax-formula .label-group {
    border: 1px solid #bbb;
    border-top: none;
    border-bottom: none;
    border-radius: 0.5rem;
    margin: 0 0.3em;
    padding: 0 0.6em;
}

.label-group-label {
    background-color: white;
    color: #555555;
    font-size: 0.65rem;
    line-height: 0.75rem;
    position: absolute;
    padding: 0 4px;
    top: -0.5em;
    left: 0.3em;
}

.tax-formula .label-group-label {
    box-shadow: 0 -1px 1px #555;
    border-radius: 0.25rem;
    top: -0.8em;
}
